.button {
  flex: 1; 
  font-size: 0.85rem; 
  text-align: center;
  padding: 0.6rem;
  min-height: 40px; 
  line-height: 1.2; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 0.2rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 5px #8cccc4, 0 0 25px #8cccc4;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  color: black;
  background-color: #8cccc4;
  box-shadow: 0 0 5px #8cccc4, 0 0 25px #8cccc4, 0 0 50px #8cccc4, 0 0 100px #8cccc4;  
}

.button--inverse {
  background: transparent;
  color: #8cccc4;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #8cccc4;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}