.user-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  flex: 0 1 calc(25% - 1rem); 
}

.user-item__content {
  transition: transform .3s ease; /* Smooth transition for scaling */}

.user-item a {
  /* position: absolute; */
  display: flex;
  align-items: flex-start; /* Align items at the start */
  gap: 20px;
  width: 100%;
  height: auto; /* Adjust height */
  text-decoration: none;
  padding: 1rem;
  color: #296059;
  background: #c6f1ef; /* Match course card background */
}
/* 
.user-item:nth-child(2n) .user-item__content a .ag-courses-item_bg {

} */

.user-item:nth-child(2n) .user-item__content a .ag-courses-item_bg {
  background-color: #8cccc4;
}

.user-item:nth-child(3n) .user-item__content a .ag-courses-item_bg {
  background-color: #8cccc4;
}

.user-item:nth-child(4n) .user-item__content a .ag-courses-item_bg {
  background-color: #8cccc4;
}

.user-item:nth-child(5n) .user-item__content a .ag-courses-item_bg {
  background-color: #8cccc4;
}

.user-item:nth-child(6n) .user-item__content a .ag-courses-item_bg {
  background-color: #8cccc4;
}


.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  
  position: absolute;
  top: -60px;
  right: -60px;

  border-radius: 50%; /* Circular shape */
  
  transition: all .5s ease; /* Smooth transition */

  z-index: 5;

  background-color: #8cccc4;
}


.user-item__image {
  width: 4rem;
  height: 4rem;

  z-index: 15;
}

.ag-courses-item_title {
  font-size: 1.5rem; /* Adjusted font size */
}

.user-item__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  z-index: 10;
}

.user-item__info h2 {
  color: black; 
  margin: 0;
}

.user-item__info h3 {
  color: black; 
  margin: 0;
}

.user-item a:hover .ag-courses-item_bg {
   transform: scale(10); /* Scale effect on hover */
}

@media screen and (max-width: 1000px) {
  .user-item {
    flex: 0 1 calc(50% - 1rem); 
  }
}

@media screen and (max-width: 600px) {
  .user-item {
    flex: 0 1 100% ; 
  }
}